<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Student</title>
    <link rel="stylesheet" href="../static/css/add_students.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/js/add_student.js"></script>
</head>
<body>
    <div class="container">
        <h1>Add Student</h1>
        <form id="add-student-form">
            <label for="first_name">First Name:</label>
            <input type="text" id="first_name" name="first_name" required><br><br>
            
            <label for="last_name">Last Name:</label>
            <input type="text" id="last_name" name="last_name" required><br><br>
            
            <label for="gender">Gender:</label>
            <input type="text" id="gender" name="gender"><br><br>
            
            <label for="admission_number">Admission Number:</label>
            <input type="text" id="admission_number" name="admission_number"><br><br>
            
            <label for="roll_number">Roll Number:</label>
            <input type="number" id="roll_number" name="roll_number"><br><br>
            
            <label for="parents_number">Parents' Number:</label>
            <input type="text" id="parents_number" name="parents_number"><br><br>
            
            <label for="parents_email">Parents' Email:</label>
            <input type="email" id="parents_email" name="parents_email"><br><br>
            
            <label for="class_assigned">Class Assigned:</label>
            <input type="text" id="class_assigned" name="class_assigned" required><br><br>
            
            <label for="division_assigned">Division Assigned:</label>
            <input type="text" id="division_assigned" name="division_assigned" required><br><br>
            
            <label for="warden">Warden:</label>
            <select id="warden" name="warden">
                <!-- Options will be populated by JavaScript -->
            </select><br><br>
            
            <button type="submit">Add Student</button>
        </form>
    </div>
</body>
</html>
