<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment Notifications</title>
    <link rel="stylesheet" href="/static/css/assignment_page.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/js/assignment_page.js" defer></script> 
</head>

<body>
    <h1>Assignment Notifications</h1>
    <div id="assignment_notification_list"></div>

    <div id="assignment_detail_modal" style="display: none;"> <!-- Hide modal initially -->
        <div id="assignment_modal_content">
            <span id="close_assignment_modal" style="cursor:pointer;">&times;</span>
            <h2 id="assignment_title"></h2>
            <p><strong>Teacher:</strong> <span id="assignment_teacher"></span></p>
            <p><strong>Subject:</strong> <span id="assignment_subject"></span></p>
            <p><strong>Due Date:</strong> <span id="assignment_due_date"></span></p>
            <p><strong>Question:</strong> <span id="assignment_description"></span></p>
            

            <h3>Student Statuses</h3>
            <div id="student_statuses"></div>
        </div>
    </div>
</body>

</html>
