<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parent Event Page</title>
    <link rel="stylesheet" href="/static/css/parent_event_page.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/js/parent_event_page.js"></script>
</head>
<body>
    <h1>Events in Your Schools</h1>
    
    <!-- Event Banners Section -->
    <div id="events-container">
        <!-- Dynamic content will be loaded here -->
    </div>
</body>
</html>
