<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/js/web_admin_dashboard.js"></script>
    <link rel="stylesheet" href="/static/css/web_admin_dashboard.css">
</head>

<body>
    <button id="logout_button">Logout</button>
    <h1>Web admin Dashboard</h1>
    <div class="container">
        
        <a href="/setup_auth/register/">Register School</a>
    </div>
</body>

</html>