<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base Page of School App</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/js/index.js"></script>
    
</head>
<body>
    <div align="center">
        <button id="register_school"><h3>Register School</h3></button><br>
        <button id="login"><h3>Log in</h3></button><br>
        <button id="register_parent"><h3>Register as Parent</h3></button><br>
    </div>
</body>
</html>
