
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register School</title>
    <link rel="stylesheet" href="/static/css/school_register.css">
</head>
<body>
    <div class="form-container" align="center">
        <h2>Register School</h2>
        <form id="school-register-form">
            <label for="school_name">School Name:</label>
            <input type="text" id="school_name" name="school_name" required><br><br>
            
            <label for="school_address">Address:</label>
            <input type="text" id="school_address" name="school_address" required><br><br>
            
            <label for="contact_number">Contact Number:</label>
            <input type="text" id="contact_number" name="contact_number" required><br><br>
            
            <label for="contact_email">Contact Email:</label>
            <input type="email" id="contact_email" name="contact_email" required><br><br>
            
            <label for="school_admin_username">Admin Username:</label>
            <input type="text" id="school_admin_username" name="school_admin_username" required><br><br>
            
            <label for="school_admin_first_name">Admin First Name:</label>
            <input type="text" id="school_admin_first_name" name="school_admin_first_name" required><br><br>
            
            <label for="school_admin_last_name">Admin Last Name:</label>
            <input type="text" id="school_admin_last_name" name="school_admin_last_name" required><br><br>
            
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br><br>
            
            <label for="confirm_password">Confirm Password:</label>
            <input type="password" id="confirm_password" name="confirm_password" required><br><br>
            
            <input type="submit" value="Register">
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/js/school_register1.js"></script>
</body>
</html>
