<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Dashboard</title>
    <link rel="stylesheet" href="../static/css/teacher_dashboard.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/js/teacher_dashboard.js"></script>
</head>
<body>
    <div class="dashboard-container">
        <h1>Teacher Dashboard</h1>
        <div id="welcome-message">
            <!-- This can be dynamically populated -->
        </div>
        <div id="class-teacher-status">
            <!-- Class teacher status will be displayed here -->
        </div>
        
    </div>
    <br>
    <a href="/management/add_students">Add Student</a>
</body>
</html>
