<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/school_management.css">
    <title>Document</title>
</head>

<body>
    <h1>School Management</h1>
    
    <div class="container">
        <a href="/admin_management/manage_teachers_page" class="button-link">Manage Teachers</a><br>
        <a href="/admin_management/manage_student_page" class="button-link">Manage Students</a><br>
        <a href="/admin_management/admin_class_attendance_page" class="button-link">View Student Attendance</a><br>
        <a href="/admin_management/admin_marks_page" class="button-link">View Student Marks</a><br>
    </div>
</body>

</html>
