<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>School management</h1>
    <br>
    <br>
    <a href="/admin_management/manage_teachers_page">Manage Teachers</a><br>
    <a href="/admin_management/manage_student_page">Manage Students</a><br>
    <a href="/admin_management/admin_class_attendance_page">View Student Attendance</a><br>
    <a href="/admin_management/admin_marks_page">View Student Marks</a><br>
</body>
</html>