<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Details</title>
    <link rel="stylesheet" href="/static/css/event_details.css">
</head>
<body>
    <div class="event-details">
        <h1 id="event-title"></h1>
        <img id="feature-image" alt="Event Feature Image" />
        <p id="event-description"></p>
        <p id="event-date"></p>

        <!-- Section for YouTube links and event images -->
        <div id="media-section">
            
            <div id="youtube-links"></div>
            <div id="event-images"></div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/js/event_details.js"></script>
</body>
</html>
